#calendarGrid {
  align-items: center;
  justify-content: center;
}

#dateScroller {
  display: inline-flex;
}

.calendarHeadDay {
  text-align: center;
  width: 35px;
  height: 35px;
}

.calendarDay {
  text-align: center;
  width: 35px;
  height: 35px;
}

.month {
  margin: 30px;
}

#scrollLeft {
  text-align: left;
}

.calendarCore {
  display: grid;
  grid-template-columns: auto auto auto;
}
