#calendarGrid {
  align-items: center;
  justify-content: center;
}

#dateScroller {
  display: inline-flex;
}

.calendarHeadDay {
  text-align: center;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  color: rgb(110, 108, 108);
  font-size: 12px;
}

.calendarDay {
  text-align: center;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}


.unavailable{
  text-decoration: line-through;
  color: lightgray;
}

.calendarDay>button{
  border-radius: 50%;
  background-color: white;
  padding: 1px;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}

.calendarDay>button:hover{
  cursor: pointer;
  box-shadow: 0 0 0px 1px black;
}

/* .calendarDay>.available{
  color: rgb(26, 25, 25);
  font-weight: 500;
} */

.month {
  margin: 20px;
}

.scroll {
  display: inline-flex;
  align-items: center;
}

.scroll>button{
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 50%;
}

.scroll>button:hover{
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.432);
  transition-delay: .12s;
}

.scroll>p{
  width: 90%;
}

#scrollLeft {
  justify-content: left;
  float: left;
}

#scrollLeft>p {
  padding-left: 45px;
}

#scrollRight {
  justify-content: right;
  float: right;
}

#scrollRight>p {
  padding-right: 45px;
}

/* .calendarCore {
  display: grid;
  grid-template-columns: auto auto auto;
} */

.calendarCore {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.unavailable {
  text-decoration: line-through;

}

.selected {
  background-color: black !important;
  color: white;
}

.betweenSelected {
  border-radius: 0% !important;
  background-color: rgba(221, 221, 221, 0.432) !important;
  /* border-left: 5px rgba(221, 221, 221, 0.432) solid !important; */
}
