#checkInService {
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: 22px;
  width: 100%;
  min-width: 200px;
  /* position: fixed; */
  right: 10%;
  color: rgb(34, 34, 34);
}

#heading{
  width: 90%;
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

#price{
  font-weight: 500;
}

#nightText {
  font-size: 16px;
  font-weight: normal;
  color: rgb(58, 58, 58);
}

#ratings {
  font-size: 14px;
  font-weight: 600;
}

#reviewCount {
  font-weight: lighter;
  color: rgb(80, 80, 80)
}

#star {
  font-size: 12px;
  color: #E61E50;
}