#fieldGrid {
  display: grid;
  border: 2px solid gray;
  text-align: left;
  border-radius: 5%;
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  grid-template-rows: 75px 75px;
}

.fields {
  padding-left: 3px;
}

#checkIn {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

#checkOut {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

#guests {
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px solid gray;
}