#fieldGrid {
  display: grid;
  border: 1px solid rgb(190, 190, 190);
  text-align: left;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  grid-template-rows: 60px 60px;
}

#buttonWrapper {
  width: 90%;
  text-align: center;
  position: relative;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
}

#reserveButton {
  width: 100%;
  outline: none;
  background-color: #E61E50;
  border: none;
  color: white;
  font-size: 16px;
  height: 60%;
  border-radius: 10px;
}

#reserveButton:hover {
  cursor: pointer;
}

#fieldGrid:hover {
  cursor: pointer;
}

.fields {
  padding-left: 10px;
}

.fields:active {
  outline: 1px solid black;
}

.label {
  font-size: 10px;
  font-weight: 700;
}

.subText {
  font-weight: normal;
  font-size: 12px;
  margin: 0 auto;
}

#checkIn {
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: 1px solid rgb(190, 190, 190);
  border-bottom: 1px solid rgb(190, 190, 190);
}

#checkOut {
  grid-column-start: 2;
  grid-column-end: 3;
  /* border-left: 1px solid rgb(190, 190, 190); */
  border-bottom: 1px solid rgb(190, 190, 190);
}

#guests {
  grid-column-start: 1;
  grid-column-end: 3;
  /* border-top: 1px solid rgb(190, 190, 190); */
}


