#guestBox{
  /* text-align: left; */
  padding-left: 20px;
  z-index: 999;
  width: 90%;
  min-width: 250px;
  /* display: block; */
  position: absolute;
  float: right;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-size: 18px;
}

#guestBox>div{
  display: flex;
  align-content: center;
  justify-content: center;
}

.guestType{
  width: 60%;
  padding-left: 5px;
  text-align: left; 
  line-height: 10px;
}


.ageGroups {
  font-size: 14px;
  color: rgb(37, 37, 37);
}

.guestCount{
  width: 40%;
  text-align: center; 
  vertical-align: middle;
  margin: 0 auto;
  justify-content: space-between;
  display: inline-flex;  
  padding-right: 30px;
  align-items: center;
}

.guestCount>p, .guestCountAdjuster{
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 1px;
}

.guestCountAdjuster{
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  outline: none;
}

.guestCountAdjuster:hover{
  cursor: pointer;
  border-color: black;
  color: black;
}

#infobox{
  font-size: 14px;
  color: gray;
  text-align: left;
  margin: 5px;
}

#close{
  background-color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  color: rgb(51, 51, 51);
  text-decoration: underline;
  margin: 10px 15px 20px;
  padding: 10px;
  outline: none;
}

#close:hover{
  background-color: rgba(247, 242, 242, 0.507);
  transition-delay: 0.04s;
  cursor: pointer;
}