* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

/* #checkIn {
  text-align: right;
  border: 2px solid #ff395b;
  padding-right: 5px;
}

#fieldGrid {
  display: grid;
  border: royalblue;
} */